[submodule "external/LBDD"]
	path = external/LBDD
	url = https://github.com/pawelswoboda/LBDD.git
[submodule "external/PEGTL"]
	path = external/PEGTL
	url = https://github.com/taocpp/PEGTL.git
    branch = main
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/Eigen"]
	path = external/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/tsl-robin-map"]
	path = external/tsl-robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "external/vectorclass"]
	path = external/vectorclass
	url = https://github.com/vectorclass/version2.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/thrust"]
	path = external/thrust
	url = https://github.com/NVIDIA/thrust.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
